:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #57bc6a;
  --color-secondary: #055af8;
  --color-dark: #00040a;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}
